// Clients
.client__list {
    @extend %list;
    display: flex;
    flex-wrap: wrap;
    // margin: -15px;
}
.client__item {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
    // &:not(:last-child) {
    //     margin-bottom: 30px;
    // }
}
.client__icon {
    fill: $white;

    // &:hover,
    // &:focus {
    //     fill: $white;
    // }
}

