.page-footer {
    background-color: $black;
}
.page-footer__heading {
    font-size: 12px;
    line-height: 1.43;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.page-footer__text {
    font-size: 12px;
    line-height: 1.43;
    color: $text-secondary-color;
}