// The Gear cage

.tools-section__container {
    min-width: 320px;
    margin: 0 auto;

    @media screen and (max-width: 767px) {
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 30px;  
    }

    @media screen and (max-width: 767px) {
        width: 480px;
    } 

    @media screen and (min-width: $tablet) {
        display: flex;
        justify-content: center;

        text-align: left;
    }

    @media screen and (min-width: $desktop) {
        max-width: 1440px;
    }

    @media screen and (min-width: 1441px) {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}
.tools-section__content {
    padding-top: 20%;
    padding-bottom: 10%;

    @media screen and (min-width: $tablet) {
        width: calc(100% / 2);
        padding: 164px 5%;
    }
}

.tools-section__heading {
    margin-bottom: 6px;

    color: $text-secondary-color;
}
.tools-section__title {
    margin-bottom: 10px;

    font-size: 18px;
    line-height: 1.14;
}
.tools-section__text {
    margin-bottom: 20px;

    color: $text-primary-color;
}
.tools-section__button {
    @extend %button;

}
.tools-section__overlay {
    @media screen and (min-width: $tablet) {
        width: calc(100% / 2);
        height: 540px;
    }
}
.tools-section__image {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    object-position: 100% 50%;

}