// Hero
.h1-section__overlay {
    position: relative;
    padding: 450px 18px 30px 18px;
    
    background-image: url(../images/hero-image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 80%;

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
        background-image: url(../images/hero-image@2x.jpg);
    }
}
.h1-section__thumb {
    @media screen and (min-width: $tablet) {
        max-width: 600px;
        margin-right: auto;
        margin-left: auto;
    }
}
.h1-section__subtitle {
    font-size: 11px;
    line-height: 1.43;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $text-secondary-color;

    margin-bottom: 2px;

    @media screen and (min-width: $tablet) {
        font-size: 14px;
        margin-bottom: 5px;
    }
}
.h1-section__heading {
    font-size: 30px;
    line-height: 1.1;

    margin-bottom: 12px;

    @media screen and (min-width: $tablet) {
        font-size: 54px;
        margin-bottom: 18px;
    }
}
.h1-section__text {
    font-size: 11px;
    line-height: 1.43;
    color: $text-secondary-color;

    @media screen and (min-width: $tablet) {
        font-size: 14px;
    }
}

.h1-section__settings {
    display: none;

    @media screen and (min-width: $desktop) {
        position: absolute;
        bottom: 0;
        right: 30px;

        display: flex;
        flex-direction: row;
        width: 320px;
        justify-content: space-between;
    }
}