.logo {
    display: flex;
    justify-content: center;
    
    fill: $white;


    
    &--footer {
        margin-bottom: 20px;
        @media screen and (min-width: $tablet) {
            justify-content: start;
        }
    }
}