.section {
    background-color: $black;
    text-align: center;
    min-width: 350px;

    &--padding {
        padding-top: 100px;
        padding-bottom: 70px;
        background-color: $black;
    }
}
.section__heading {
    margin-bottom: 15px;

    font-size: 22px;
    line-height: 1.15;
}
.section__text {
    margin-bottom: 30px;

    font-size: 17px;
    line-height: 1.3;
    color: $text-secondary-color;
}

// Secondary section font settings
.secondary-section__heading {
    font-size: 12px;
    line-height: 1.43;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.secondary-section__text {
    font-size: 12px;
    line-height: 1.43;
    color: $text-secondary-color;
}

