// What we do
.card-set {
    @extend %list
}
.card-set__item {
    max-width: 576px;

    &:not(:last-child) {
        margin-bottom: 18px;
    }
}
.card__overlay {
    position: relative;
}
.card__thumb {
    text-align: left;

    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
}
.card__title {
    margin-bottom: 15px;

    font-size: 14px; 
    line-height: 1.3;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.card__text {
    margin-bottom: 17px;
    color: $text-secondary-color;

    font-size: 13px;
    line-height: 1.43;
}
.card__link {
    @extend %button;

    font-size: 14px;
    line-height: 1.33;
    letter-spacing: 0.4px;
    color: $black;    
}
