%list {
    list-style: none;
    padding: 0;
    margin: 0;
}

%image {
    display: block;
}

%button {
    border: 0;
    border-radius: 12px;
    background-color: $white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    padding: 8px 13px;

    color: $black;
    font-family: $font-family;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.25;
    text-align: center;
    letter-spacing: 0.4px;

    cursor: pointer;
}