// colors
$white: #ffffff;
$black: #000000;
$text-primary-color:#ffffff;
$text-secondary-color: #C0C0C0;

//Media device sizes
$desktop: 1200px;
$tablet: 768px;
$mobile: 375px;

// Animation
$animation-duration: 250ms;
$animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

// Font
$font-family: 'Poppins';